{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
    <h1 class="w-4/5 py-8 text-4xl font-black uppercase ">Liste des disponibilités</h1>
	 <div class="flex flex-wrap w-4/5 px-4 mx-auto">
	{% if disponibilites %}
		{% for disponibilite in disponibilites %}
		<div class="max-w-sm overflow-hidden rounded shadow-lg">
			<img class="w-full" src="/logos/van-placeholder.png" alt="Sunset in the mountains">
			<div class="px-6 py-4">
				<div class="mb-2 text-xl font-bold">{{disponibilite.vehicule.marque}} {{disponibilite.vehicule.modele}}</div>
                <div class="flex flex-col">
                    <time datetime="{{disponibilite.dateDebut|date('d/m/Y')}}"><span class="font-bold">Date de début:</span> {{disponibilite.dateDebut|date('d/m/Y')}}</time>
				    <time datetime="{{disponibilite.dateFin|date('d/m/Y')}}"><span class="font-bold">Date de fin:</span> {{disponibilite.dateFin|date('d/m/Y')}}</time>
					<div><span class="font-bold">Prix par jour :</span> {{disponibilite.prixJour}} €</div>
                </div>
            </div>
			<div class="flex flex-row gap-3 px-6 pt-4 pb-2">
                <a href="#">
					<button type="button" class="block px-3 py-2 text-sm font-semibold text-center text-white bg-green-700 rounded-md shadow-sm hover:bg-th-orange-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Réserver</button>
				</a>
			</div>
		</div>
	{% endfor %}
	{% else %}
	<h1>Aucun Résultats pour votre recherche</h1>
	{% endif %}
	    </div>


{% endblock %}
